benchmarks/cpu_no_opt/src/initboard
benchmarks/cpu_no_opt/src/gol
benchmarks/cpu_no_opt/src/outputs/1k.bpm
benchmarks/cpu_opt/src/initboard
benchmarks/cpu_opt/src/gol
benchmarks/cpu_opt/src/outputs/1k.bpm
